* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    line-height: 1.25;
    font-size: 16px;
}

.navbar {
    justify-content: center;
    position: sticky;

}

h1 {
   text-align: center;
}

.card {
    margin: 2px 0 2px 0;
}

.card-header {
    
}